{% include base_path %}

<!-- start custom head snippets -->

<link rel="icon" href="{{ base_path }}/favicon.ico" sizes="48x48">
<link rel="icon" href="{{ base_path }}/images/favicon.svg?v=20261009" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ base_path }}/images/apple-touch-icon.png?v=20261009">
<link rel="manifest" href="{{ base_path }}/images/manifest.json?v=20261009">
<link rel="mask-icon" href="{{ base_path }}/images/safari-pinned-tab.svg?v=20261009" color="#16213a">
<meta name="msapplication-TileColor" content="#16213a">
<meta name="msapplication-TileImage" content="{{ base_path }}/images/mstile-144x144.png?v=20261009">
<meta name="msapplication-config" content="{{ base_path }}/images/browserconfig.xml?v=20261009">
<meta name="theme-color" content="#121a2c">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- end custom head snippets -->
